Hospital-Management-Software/Connected Services/MyDBServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Service_Library" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Service_Library.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEquipmentServiceRecordById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentServiceRecordById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEquipmentServiceRecordById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentServiceRecordByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEquipmentServiceRecordByEmployeeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentServiceRecordByEmployeeID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEquipmentServiceRecordByEmployeeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentServiceRecordByEmployeeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLabServiceRecordById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabServiceRecordById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLabServiceRecordById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabServiceRecordByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLabServiceRecordByEmployeeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabServiceRecordByEmployeeID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLabServiceRecordByEmployeeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabServiceRecordByEmployeeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllResource_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResource" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllRolePermission_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolePermission" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllRolePermission_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolePermissionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicalRecordByEmployeeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalRecordByEmployeeID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicalRecordByEmployeeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalRecordByEmployeeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMedicalRecordByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalRecordByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMedicalRecordByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalRecordByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalRecord" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatientRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientRecords" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPatientRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientRecordByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientRecordByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientRecordByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientRecordByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePatientRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePatientRecord" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePatientRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePatientRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DisablePatientByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DisablePatientByID" />
  </wsdl:message>
  <wsdl:message name="IService1_DisablePatientByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisablePatientByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePatientByID_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatientByID" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePatientByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatientByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeSortedByDOB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeSortedByDOB" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeSortedByDOB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeSortedByDOBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeSortedByGender_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeSortedByGender" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeSortedByGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeSortedByGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeByNRIC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByNRIC" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeByNRIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByNRICResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateContract_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContract" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContractByEmployeeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContractByEmployeeID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContractByEmployeeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractByEmployeeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMedicalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMedicalRecord" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMedicalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMedicalRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentServiceRecordById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEquipmentServiceRecordById" message="tns:IService1_GetEquipmentServiceRecordById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEquipmentServiceRecordByIdResponse" message="tns:IService1_GetEquipmentServiceRecordById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentServiceRecordByEmployeeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEquipmentServiceRecordByEmployeeID" message="tns:IService1_GetEquipmentServiceRecordByEmployeeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEquipmentServiceRecordByEmployeeIDResponse" message="tns:IService1_GetEquipmentServiceRecordByEmployeeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabServiceRecordById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLabServiceRecordById" message="tns:IService1_GetLabServiceRecordById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLabServiceRecordByIdResponse" message="tns:IService1_GetLabServiceRecordById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabServiceRecordByEmployeeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLabServiceRecordByEmployeeID" message="tns:IService1_GetLabServiceRecordByEmployeeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLabServiceRecordByEmployeeIDResponse" message="tns:IService1_GetLabServiceRecordByEmployeeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllResource" message="tns:IService1_GetAllResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllResourceResponse" message="tns:IService1_GetAllResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRolePermission">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllRolePermission" message="tns:IService1_GetAllRolePermission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllRolePermissionResponse" message="tns:IService1_GetAllRolePermission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalRecordByEmployeeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMedicalRecordByEmployeeID" message="tns:IService1_GetAllMedicalRecordByEmployeeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMedicalRecordByEmployeeIDResponse" message="tns:IService1_GetAllMedicalRecordByEmployeeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalRecordByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMedicalRecordByID" message="tns:IService1_GetMedicalRecordByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMedicalRecordByIDResponse" message="tns:IService1_GetMedicalRecordByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMedicalRecord" message="tns:IService1_GetAllMedicalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMedicalRecordResponse" message="tns:IService1_GetAllMedicalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPatientRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPatientRecords" message="tns:IService1_GetAllPatientRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPatientRecordsResponse" message="tns:IService1_GetAllPatientRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientRecordByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPatientRecordByID" message="tns:IService1_GetPatientRecordByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPatientRecordByIDResponse" message="tns:IService1_GetPatientRecordByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePatientRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreatePatientRecord" message="tns:IService1_CreatePatientRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreatePatientRecordResponse" message="tns:IService1_CreatePatientRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisablePatientByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DisablePatientByID" message="tns:IService1_DisablePatientByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DisablePatientByIDResponse" message="tns:IService1_DisablePatientByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatientByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePatientByID" message="tns:IService1_UpdatePatientByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePatientByIDResponse" message="tns:IService1_UpdatePatientByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllEmployee" message="tns:IService1_GetAllEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllEmployeeResponse" message="tns:IService1_GetAllEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeeByName" message="tns:IService1_GetEmployeeByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeeByNameResponse" message="tns:IService1_GetEmployeeByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSortedByDOB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeeSortedByDOB" message="tns:IService1_GetEmployeeSortedByDOB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeeSortedByDOBResponse" message="tns:IService1_GetEmployeeSortedByDOB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSortedByGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeeSortedByGender" message="tns:IService1_GetEmployeeSortedByGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeeSortedByGenderResponse" message="tns:IService1_GetEmployeeSortedByGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByNRIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeeByNRIC" message="tns:IService1_GetEmployeeByNRIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeeByNRICResponse" message="tns:IService1_GetEmployeeByNRIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateEmployee" message="tns:IService1_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateEmployeeResponse" message="tns:IService1_CreateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateEmployee" message="tns:IService1_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateEmployeeResponse" message="tns:IService1_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeeID" message="tns:IService1_GetEmployeeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeeIDResponse" message="tns:IService1_GetEmployeeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateContract" message="tns:IService1_CreateContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateContractResponse" message="tns:IService1_CreateContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractByEmployeeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetContractByEmployeeID" message="tns:IService1_GetContractByEmployeeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetContractByEmployeeIDResponse" message="tns:IService1_GetContractByEmployeeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPatientByID" message="tns:IService1_GetPatientByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPatientByIDResponse" message="tns:IService1_GetPatientByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMedicalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateMedicalRecord" message="tns:IService1_CreateMedicalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateMedicalRecordResponse" message="tns:IService1_CreateMedicalRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentServiceRecordById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEquipmentServiceRecordById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentServiceRecordByEmployeeID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEquipmentServiceRecordByEmployeeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabServiceRecordById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLabServiceRecordById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabServiceRecordByEmployeeID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLabServiceRecordByEmployeeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllResource">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRolePermission">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllRolePermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalRecordByEmployeeID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMedicalRecordByEmployeeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalRecordByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMedicalRecordByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalRecord">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMedicalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatientRecords">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPatientRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientRecordByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPatientRecordByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePatientRecord">
      <soap:operation soapAction="http://tempuri.org/IService1/CreatePatientRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisablePatientByID">
      <soap:operation soapAction="http://tempuri.org/IService1/DisablePatientByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatientByID">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePatientByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeeByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSortedByDOB">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeeSortedByDOB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSortedByGender">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeeSortedByGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByNRIC">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeeByNRIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContract">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractByEmployeeID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetContractByEmployeeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPatientByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMedicalRecord">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateMedicalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Service_Library/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>