Hospital-Management-Software/Connected Services/MyDBServiceReference/WCF_Service_Library.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Service_Library.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Service_Library.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EquipmentServiceRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeID" type="xs:int" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipmentServiceRecord" nillable="true" type="tns:EquipmentServiceRecord" />
  <xs:complexType name="ArrayOfEquipmentServiceRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentServiceRecord" nillable="true" type="tns:EquipmentServiceRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentServiceRecord" nillable="true" type="tns:ArrayOfEquipmentServiceRecord" />
  <xs:complexType name="LabServiceRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="employeeID" type="xs:int" />
      <xs:element minOccurs="0" name="priority" type="xs:int" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="testRequired" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LabServiceRecord" nillable="true" type="tns:LabServiceRecord" />
  <xs:complexType name="ArrayOfLabServiceRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LabServiceRecord" nillable="true" type="tns:LabServiceRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLabServiceRecord" nillable="true" type="tns:ArrayOfLabServiceRecord" />
  <xs:complexType name="ArrayOfResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resource" nillable="true" type="tns:Resource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResource" nillable="true" type="tns:ArrayOfResource" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="ArrayOfRolePermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolePermission" nillable="true" type="tns:RolePermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolePermission" nillable="true" type="tns:ArrayOfRolePermission" />
  <xs:complexType name="RolePermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="add" type="xs:boolean" />
      <xs:element minOccurs="0" name="delete" type="xs:boolean" />
      <xs:element minOccurs="0" name="edit" type="xs:boolean" />
      <xs:element minOccurs="0" name="resourceID" type="xs:int" />
      <xs:element minOccurs="0" name="roleID" type="xs:int" />
      <xs:element minOccurs="0" name="view" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolePermission" nillable="true" type="tns:RolePermission" />
  <xs:complexType name="ArrayOfMedicalRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicalRecord" nillable="true" type="tns:MedicalRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicalRecord" nillable="true" type="tns:ArrayOfMedicalRecord" />
  <xs:complexType name="MedicalRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="bloodPressure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bodyTemperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="consultationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="diagnosis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doctorID" type="xs:int" />
      <xs:element minOccurs="0" name="medicalRecordID" type="xs:int" />
      <xs:element minOccurs="0" name="patientID" type="xs:int" />
      <xs:element minOccurs="0" name="prescriptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pulseRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="respirationRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="treatment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalRecord" nillable="true" type="tns:MedicalRecord" />
  <xs:complexType name="ArrayOfPatientRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientRecord" nillable="true" type="tns:PatientRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientRecord" nillable="true" type="tns:ArrayOfPatientRecord" />
  <xs:complexType name="PatientRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NRIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="allergies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="citizenship" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="homeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medicalHistory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientID" type="xs:int" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recordDisabled" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientRecord" nillable="true" type="tns:PatientRecord" />
</xs:schema>